body {

}

#mev_top {
    display: block;
    height: 40px;
    background-color: #000;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
}
#mev_top_site_id{
    float: left;
    font-family: "Helvetica Neue Light",arial;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
}
#mev_top_loggeginuser{
    float: right;
    font-family: "Helvetica Neue Light",arial;
    font-size: 13px;
    color: #ffffff;
    padding-top: 10px;

}
#mev_top_logout  {
    float: right;
    color: steelblue;
    padding-top: 10px;
}

#top-menu-canvas{
    display: block;
    height: 40px;
    background-color: #666;
}

.top-menu-item {
    text-align: center;
    font-size: 14px;
    height: 40px;
    display: inline-block;
}
#top-menu-canvas a{
    color: #fff;
    text-decoration: none;
}

#top-menu-upload{
    float: left;
    padding: 10px;
    width: 130px;
    background-color: forestgreen;
    color: #fff;
}
#top-menu-create-folder {
    float: left;
    padding: 10px;
    width: 130px;
    background-color: darkorange;
    color: #fff;
}
#top-menu-del-folder {
    float: left;
    padding: 10px;
    width: 170px;
    background-color: darkred;
    color: #fff;
}

.file-image{
    width: 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}






#toolbarFileList {
    /*   background-color: #003399;*/
    padding-top: 30px;
}

#FilelistContainer {
margin-bottom: 50px;
border:2px;
border-color: #1f6377;
}

footer {


}


/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 0px)
and (max-width : 767px) {

    body {
        padding: 0px;
    }



    #mev_top_loggeginuser {
        display: none;
    }

    #top-menu-canvas{
        width: 100%;
    }

    #top-menu-upload{
        width: 50%;
        padding: 15px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
    #top-menu-create-folder {
        width: 50%;
        padding: 15px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */

    }

    .container-fluid {
        padding: 0px;
    }

    footer {
        display: none;
    }



}

